.container_size_b{
    max-width: 1184px;
    padding: 0 48px;
    margin: 0 auto;
  }
  @media screen and (max-width: 816px){
    .container_size_b{
      padding: 0 24px;
      max-width: calc(100% - 48px);
    }
  }
  @media screen and (max-width: 768px){
    .container_size_b{
      padding: 0 24px;
      width: calc(100% - 48px);
    }
  }
  @media screen and (max-width: 400px){
    .container_size_b{
      padding: 0 16px;
      width: calc(100% - 32px);
    }
  }