.places__list-title{
    margin: 0;
    padding: 0 40px 48px 0;
    width: 460px;
    font-size: 72px;
    line-height: 1;
    font-weight: bold;
    box-sizing: border-box;
  }
  @media screen and (max-width: 1024px){
    .places__list-title
  {
      width: 440px;
      padding-right: 32px;
    }
  }
  @media screen and (max-width: 768px){
    .places__list-title{
      width: 340px;
      padding-right: 28px;
    }
  }
  @media screen and (max-width: 650px){
    .places__list-title{
      max-width: 100%;
      padding: 0 24px 48px 24px;
    }
  }
  @media screen and (max-width: 465px){
    .places__list-title{
      font-size: 32px;
      box-sizing: border-box;
      min-width: calc(100% - 32px);
      line-height: 1;
      padding: 0 0 0 16px;
    }
  }