@import url("__title/intro__title.css");
@import url("__subtitle/intro__subtitle.css");
@import url("__text/intro__text.css");
@import url("__list/intro__list.css");
@import url("__list-information/intro__list-information.css");

.intro{
    max-width: 690px;
    color: white;
    padding: 92px 0 0 0;
    margin: 0;
  }
